table {
    width: 100%;
}

.todo-complete {
    td {
        &:after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            width: 100%;
            height: 2px;
            background: #757575;
            bottom: 0;
            top: 50%;
        }
        position: relative !important;
    }
}

table.mat-table {
    margin-top: 20px;
}
.filter_todo {
    text-align:  center !important;
    .mat-button-toggle-group {
        margin:  auto !important;
        float:  none !important;
        label {
            margin-bottom: 0 !important;
        }
    }

}