<div class="align-items-center filter-current justify-content-between m-0 row">
    <span>Filter By
        <strong style="text-transform: capitalize;">{{filterCurrent}}</strong>
    </span>
    <div class="btn-actions">
            <button mat-button (click)="setCompleteSelect()">Complete Select</button>
            <button mat-button (click)="setDeleteSelect()">Delete Select</button>
    </div>
</div>
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="checked">
        <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
            </mat-checkbox>
        </td>
    </ng-container>

    <ng-container matColumnDef="text">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Todos </th>
        <td mat-cell *matCellDef="let element"> {{element.text}} </td>
    </ng-container>

    <ng-container matColumnDef="complete">
        <th mat-header-cell *matHeaderCellDef> complete </th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="setComplete(element.id,element.complete)">
                <i class="material-icons">done</i>
            </button>
        </td>
    </ng-container>

    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> delete </th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="setDelete(element.id)">
                <i class="material-icons">delete</i>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="{{row.complete ? 'todo-complete':''}}">
        <!-- (click)="selection.toggle(row)" -->
    </tr>
</table>
<div class="filter_todo" style="margin-top: 25px;">
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle checked (click)="resultData('all')">All</mat-button-toggle>
        <mat-button-toggle (click)="resultData('active')">Active</mat-button-toggle>
        <mat-button-toggle (click)="resultData('complete')">Complete</mat-button-toggle>
    </mat-button-toggle-group>

</div>