<mat-drawer-container class="container-fluid p-0">
    <mat-drawer-content>
        <div class="container">
            <div class="table-todo-list">
                <h1 class="text-center">Todos List</h1>
                <mat-form-field class="w-100">
                    <input [(ngModel)]="addTodo"  name="add-todo"  matInput placeholder="Todo">
                </mat-form-field>
                <div class="todo-visible">
                    <app-tabletodo></app-tabletodo>
                </div>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>