/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/scss/bootstrap";
textarea#mat-input-0::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
    border-radius: 10px;
    background-color: #F5F5F5;
}

textarea#mat-input-0::-webkit-scrollbar {
    width: 10px !important;
    background-color: #F5F5F5;
}

textarea#mat-input-0::-webkit-scrollbar-thumb {
    border-radius: 10px !important;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3) !important;
    background-color: #555;
}

.mat-checkbox-layout {
    margin-bottom: 0;
}

.mat-cell,
.mat-footer-cell {
    color: #757575;
}

.material-icons {
    vertical-align: middle;
}

.table-todo-list {
    padding: 50px 0;
    max-width: 600px;
    margin: auto;
}

.mat-column-delete,
.mat-column-complete {
    max-width: 30px;
    text-align: center !important;
}

.mat-column-delete .mat-sort-header-container,
.mat-column-complete .mat-sort-header-container {
    justify-content: center !important;
}